@font-face {
  font-family: "bootstrap-icons";
  src: url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/fonts/bootstrap-icons.woff2?231ce25e89ab5804f9a6c427b8d325c9") format("woff2"),
  url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/fonts/bootstrap-icons.woff?231ce25e89ab5804f9a6c427b8d325c9") format("woff");
}

[class^="bi-"]::before,
[class*=" bi-"]::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bi-pencil::before { content: "\f4cb"; }
.bi-fonts::before { content: "\f3da"; }
.bi-eraser::before { content: "\f331"; }
.bi-circle::before { content: "\f28a"; }
.bi-square::before { content: "\f584"; }
.bi-triangle::before { content: "\f5e5"; }
.bi-arrow-clockwise::before { content: "\f116"; }
.bi-arrow-counterclockwise::before { content: "\f117"; }
.bi-download::before { content: "\f29b"; }
.bi-upload::before { content: "\f2c0"; }
.bi-trash::before { content: "\f5de"; }
.bi-stars::before { content: "\f589"; }

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-size: cover;
  background-repeat: no-repeat;
  /*background-image: url("https://i.imgur.com/a1c5pdh.png");*/
}

#col2 {
  /*background-size: cover;*/
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url("https://walfiegif.files.wordpress.com/2020/11/out-transparent-15.gif?w=371");

}

h1 {
  font-style: italic;
  color: #373fff;
}

i {
  font-size: 2rem;
}


#canvas{
  background: white;
}


